.PageServices {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    height: 60vh;
	color: black;
	text-align: start;
    overflow-y: scroll;
}

.PageServices::-webkit-scrollbar {
	width: 0px;
}
